#folder lingkungan steril
venv/

#file sampah
__pycache__/
*.__pyc  

#data mentah
data/*.csv
data/*.xlsx

#file model yang ukurannya besar
models/*.pkl
model/*.h5

#mengabaikan file pengaturan rahasia
.env

